<ion-split-pane contentId="main-splitpane-content">
  <!--  our side menu  -->
  <ion-menu contentId="main-splitpane-content" menuId="main-menu" class="menu-pane-visible" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Main menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" detail="false" routerLink="/home/middle/secondary-splitpane">
          <ion-icon slot="start" name="clipboard-outline"></ion-icon>
          <ion-label>Second Splitpane Page</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main-splitpane-content"></ion-router-outlet>
</ion-split-pane>